/* TABLET VIEW */
@media only screen and (max-width:1171px) {
 

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 33px;
  }

  p {
    font-size: 16px;
  }



  img.icon {
    display: block;
  }

  ul#main-nav {
    display: block;
  }

  div.nav-links {
    display: none;
  }
div.mobile-menu {
  display: none;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: auto;
  height: auto;
  max-width: 75%;
  max-height: 75%;
}

 div.semester-text p {
    width: 65%;
 }

 div.about-image {
  display: flex;
  justify-content: center;
 }

 div.about-image img {

    width: 75%;

}

 div.about-text {
    width: 126%;
}

  section.fall-spring-semesters {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  div.gallery {
    display: flex;
    flex-direction: column;
    
  }

  div.gallery img {
    width: 65%;
    display: block;
  }

  div.semester-text p {
    text-align: center;
    width: 75%;

  }
  div.inner-about-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.about-image img {
    width: 65%;
    align-items: center;

  }

  div.about-text {
    width: 75%;
  }

div.question.faq-question {
    width: 85%;

}

div.question.faq-answer {
    width: 85%;
}




}


/* MOBILE VIEW */
@media only screen and (max-width: 560px) {
  
  h1 {
    font-size: 32px;
  }

  div h1.my-name {
    font-size: 40px;
  }

  h2 {
    font-size: 29px;
  }

  h3 {
    font-size: 21px;

  }

  p {
    font-size: 15px;
  }


  section.fall-spring-semesters {
    display: flex;
    flex-direction: column;
  }
  div.gallery {
    display: flex;
    flex-direction: column;
    
  }

  div.gallery img {
    width: 80%;
    display: block;
  }

  /* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
}

  div.semester-text p {
    text-align: center;
    width: 95%;

  }
  div.inner-about-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.about-image img {
    width: 80%;
    align-items: center;

  }

  div.about-text {
    width: 95%;
  }

div.question.faq-question {
    width: 95%;

}

div.question.faq-answer {
    width: 95%;
}


}